@charset "UTF-8";

body{
	margin: 0;
	font-family : 'Electrolize';
}

a{
	text-decoration : none;
	color: white;
	margin : 40px;
}

.h3_1{
	padding-left:200px;
	width : 600px;
	height:50px;
	font-size:30px;
}

hr{
	border:none;
	
	height:50px;
	background:black;
		margin-left : 60px;
	margin-right : 60px;
}

h1{
	text-align :center;
	position:relative;
	top:20px;
}

h5{
	text-align :center;
	position:relative;
	top:20px;
}
.Gimg li{
	display:inline;
	margin-left:8%;
	padding:10px;
	object-fit:cover;
	max-height:250px;
	max-width:260px;
}

.Gimg li img {
	border-radius:40px;
	width:380px;
	height:330px;
}
.prontbar{
	display : flex;
	justify-content : space-between;
	align-item : center;
	background-color : black;
	padding : 10px 12px;
	margin-left : 60px;
	margin-right : 60px;
}

.bar_menu{
	margin-left : 37%;
	display :flex;
	list-style :none;
	padding-left : 0;
	font-size : 22px;
}

.bar_menu li{
	padding : 10px 19px;
}

.bar_menu li:hover{
	background-color:gray;
	border-radius : 4px;
}